*
{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
}

/* .section__padding
{
    padding: 2rem;
} */
.main{
    background-color: var(--background);
}
.chatbot-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  }
  .chat-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 9999; /* Increase this value as needed */
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
    gap: 10px; /* Add this line */
    padding: 10px; /* Add this line */
    /* background: url("../src/assets/bot.png") no-repeat left center;  */
    background-size: 20px 20px; /* adjust as needed */
    color: #ffffff; /* adjust as needed */
    border: none; /* adjust as needed */
    cursor: pointer; /* adjust as needed */
    border-radius: 20px; /* adjust as needed */
    font-weight: 400;
    background-color: rgb(198, 43, 102);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
  }

  .chat-button:before {
    content: ""; /* Add this line */
    display: inline-block; /* Add this line */
    width: 20px; /* Add this line */
    height: 20px; /* Add this line */
    background-image: url("../src/assets/bot.png");
    background-size: cover; /* adjust as needed */
  }
:root{
    --background: #162237;
    --primary_color: rgb(198, 43, 102);
    --secondary_color: #090614;
    --secondary_color2: #7D7C78;
    --text_color: #ffffff;
    --text_color2: #7D7C78;
    /* --third_color: #FFE696; */

    --pc-large:80px;
    --pc-medium:40px;
    --pc-small:20px;
}
/* This will change the width of the scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* This will change the background color of the scrollbar */
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--background), var(--text_color2)); /* Replace with your desired colors */
  }
  
  /* This will change the color of the scroll thumb (the part you drag) */
  ::-webkit-scrollbar-thumb {
    background: var(--primary_color);
  }
  
  /* This will change the color of the scroll thumb when you hover over it */
  ::-webkit-scrollbar-thumb:hover {
    background: #850a3d;
  }